.landing-bg {
  position: relative;
  z-index: 1;
}

.landing-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
  z-index: -1;
  background-image: url('../images/background-1.jpg');
  background-size: cover;
}

.heading {
  color: navy;
  font-weight: bold;
}

@media screen and (min-width: 1201px) {
  .heading {
    font-size: 5.5em;
    text-shadow: 3px 3px 4px black;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1200px) {
  .heading {
    font-size: 7.1vw;
    text-shadow: 2px 2px 3px black;
  }
}
