table thead {
  background-color: navy;
  color: whitesmoke;
  text-align: center;
}

table tbody {
  background-color: whitesmoke;
  text-align: center;
}

@media screen and (min-width: 769px) {
  table {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  table {
    font-size: 0.7em;
  }
}

.region-heading {
  color: navy;
  font-weight: bold;
}

@media screen and (min-width: 1201px) {
  .region-heading {
    font-size: 4em;
    text-shadow: 3px 3px 4px black;
  }
}

@media screen and (max-width: 1200px) {
  .region-heading {
    font-size: 6vw;
    text-shadow: 2px 2px 3px black;
  }
}
